.button {
    -fx-font-size: 15px;
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
.text-area {
    -fx-padding: 5px;
    -fx-border-insets: 5px;
    -fx-background-insets: 5px;
}
#graphLayout {
    -fx-background-color: coral;
}

#infLabel {
    -fx-text-fill: red;
}
